
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    height: 100vh;
    width: 1600px;
    margin: 60px auto 0 auto;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #09040a;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

input,s button, textarea, select {
    font: inherit;
}

span {
    color: #ad1ae5;
}

a {
    text-decoration: none;
    color: #ad1ae5;
}

p, h1, h2, h3, h4, h5, h6, li {
    overflow-wrap: break-word;
    color: #efe7f2;
}

ul li a:hover {
    font-weight: bold;
}

#logo-img {
    height: 40px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

h1, ul {
    font-family: 'Josefin Sans', sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 48px;
}

h1 {
    font-size: 60px;
    line-height: 56px;
    color: #ce9be1;
    width: 520px;
    margin-bottom: 35px;
}

h1 span {
 color:  #ad1ae5;
}

p {
    font-size: 16px;
    line-height: 28px;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;
    background-color: #6d1c8c;
    font-size: 18px;
    color: #efe7f2;
    border-radius: 4px;
}

button:hover {
    background-color: #09040a;
    cursor: pointer;
}

section p {
    margin: 40px 0;
}

button p {
    margin: 0;
}


footer {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}

footer a {
    font-weight: bold;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 130px;
}
